<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>aside</title>
		<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="/static/layui/css/layui.css"/>
	</head>
	<body>
		<div class="layui-side layui-bg-black"  th:fragment="copy">
		  <div class="layui-side-scroll">
		    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
		      <li class="layui-nav-item layui-nav-itemed">
		        <a class="" href="javascript:;"><span class="layui-icon layui-icon-set" >&nbsp;系统管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="/user/userList">用户管理</a></dd>
		          <dd><a href="javascript:;">角色管理</a></dd>
		          <dd><a href="javascript:;">列表三</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;年级管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="/grade/gradeList">年级管理</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;专业管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="/profession/professionList">专业管理</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;学生管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="javascript:;">列表一</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;教师管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="javascript:;">列表一</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;课程管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="javascript:;">列表一</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;班级管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="/classes/classesList">班级管理</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item">
		        <a href="javascript:;"><span class="layui-icon layui-icon-component">&nbsp;成绩管理</span></a>
		        <dl class="layui-nav-child">
		          <dd><a href="javascript:;">列表一</a></dd>
		          <dd><a href="javascript:;">列表二</a></dd>
		          <dd><a href="">超链接</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item"><a href="">云市场</a></li>
		      <li class="layui-nav-item"><a href="">发布商品</a></li>
		    </ul>
		  </div>
		</div>
	</body>
	<script src="/layui/layui.all.js"></script>
		
</html>