<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .addForm{
            width: 300px;
            position: fixed;
            left: 50px;
            top: 60px;

        }
        .btnCenter{
            text-align: center;
            margin-top: 90px;
        }
        body{
            margin-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="/static/layui/css/layui.css"/>
</head>
<body>
<div class="addForm">
    <form class="layui-form layui-form-pane " method="post"   >
        <div class="layui-form-item">
            <label class="layui-form-label">年级名称</label>
            <div class="layui-input-inline" >
                <input  type="text" id="grade" name="grade" required  lay-verify="required"  autocomplete="off" class="layui-input">
                <input type="hidden" id="gradeId" name="gradeId"/>
            </div>
        </div>
        <div class="layui-form-item btnCenter"  >
            <button class="layui-btn" lay-submit lay-filter="editGrade">保存</button>
        </div>
    </form>
</div>
</body>
<script src="/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','layer','element'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        var element = layui.element;
        $ = layui.jquery;
        //创建一个编辑器

        //监听提交
        form.on('submit(editGrade)', function(data){
            let gradeId = $("#gradeId").val();
            let grade = $("#grade").val();
            $.ajax({
                url:"/grade/updateGradeByPrimaryKey",
                type:"POST",
                // contentType: 'application/json',
                // dataType:"json",
                // data:JSON.stringify({"username":$("#username").val,"password":$("#password").val}),
                data:{"id":gradeId,"grade":grade},
                success:function (result) {
                    if(result.code==200){
                        layer.msg("修改成功！")
                        //页面跳转
                        setTimeout(function () {
                            //当你在iframe页面关闭自身时
                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.location.reload();//刷新父页面
                            parent.layer.close(index); //再执行关闭
                        },1000);
                    }else {
                        layer.msg("修改失败！")
                    }
                },
                error:function (data) {
                    layer.msg("修改失败！")
                }
            })
            return false;
        });


    });



</script>
</html>