<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .addForm{
            width: 300px;
            position: fixed;
            left: 50px;
            top: 60px;

        }
        .btnCenter{
            text-align: center;
            margin-top: 90px;
        }
        body{
            margin-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="/static/layui/css/layui.css"/>
</head>
<body>
        <div  class="addForm">
            <form class="layui-form layui-form-pane" method="post"   >
                <div class="layui-form-item">
                    <label class="layui-form-label">班级名称</label>
                    <div class="layui-input-inline" >
                        <input  type="text" id="classname" name="classname" required  lay-verify="classname" placeholder="请输入班级名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item btnCenter"  >
                    <button class="layui-btn" lay-submit lay-filter="addClass">立即保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">&nbsp;重置&nbsp;</button>
                </div>
            </form>
        </div>

</body>
<script src="/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            classname:(value) => {//箭头函数，相当于passWord验证写法(参数一，参数二)=>{函数体}
                if(value == ''){
                    return '班级名必须填写';
                }
            }
        });
    });
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use(['form','layer'], function(){
        var form = layui.form,
            layer = layui.layer;
        $ = layui.jquery;
        //监听提交
        form.on('submit(addClass)', function(data){
            //layer.msg(JSON.stringify(data.field));
            //return false;
            //console.log("111111")
            let classname = $("#classname").val()
            $.ajax({
                url:"/classes/insertClass",
                type:"POST",
                data:{"classname":classname},
                success:function (result) {
                    if(result.code==200){
                        layer.msg("添加成功！");
                        setTimeout(function () {
                            //当你在iframe页面关闭自身时
                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.location.reload();//刷新父页面
                            parent.layer.close(index); //再执行关闭
                        },1000);
                        //window.location.reload();
                    }else {
                        layer.msg("添加失败！")
                    }
                },
                error:function (data) {
                    layer.msg("添加失败！")
                }
            })
            return false;
        });
    });
</script>
</html>